.caja {
   
    position: relative;
    width: 600px;
    height: 600px;
    display: inline-block;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, 2%);
    
}
.fondoreloj {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;

    height: 100%;
    width: 100%;
    /*border: 2px solid brown;*/
   

}

.reloj {
    height: 64%;
    width: 64%;
    position: absolute;
    top: 50%;
    left: 50%;
    /*border: 2px solid black;*/
    transform: translate( -50%, -50%);
    display: inline-block;

}


.punto {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    border-radius: 100%;
    height: 5%;
    width: 5%;
    transform: translate( -50%, -50%);
    display: inline-block;


}
.hora {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    border-radius: 100%;
    height: 1.5%;
    width: 17%;
    transform: translate( -0%, -50%);
    display: inline-block;
    animation-iteration-count: infinite;
    transform: rotate(-90deg);
    transform-origin: left;
    animation: giro-hora 90s linear infinite;
    animation-timing-function: steps(43200);
  box-shadow: 3px 6px 4px #222;


}

.minuto {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:black;
    border-radius: 100%;
    height: 1%;
    width: 25%;
    transform: translate( -0%, -50%);
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: left;
    animation: giro-minutos 36s linear infinite;
    animation-timing-function: steps(3600);
  box-shadow: 3px 6px 4px #222;

}

.segundo {
    position: absolute;
    top: 50%;
    left: 41%;
    background-color: darkred;
    border: solid 2px darkred;
    height: 1px;
    width: 30%;

    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: 30%;
    animation: giro-segundos 60s linear infinite;
    animation-timing-function: steps(60);
}


@keyframes giro-segundos {
    0% {box-shadow: 15px 9px 4px #222;}
    50%{
        box-shadow: -15px -9px 4px #222;
      }
    100% {
      transform: rotate(270deg);
    box-shadow: 15px 9px 4px #222;}
  }
  
  @keyframes giro-minutos {
    0% {}
    100% {transform: rotate(270deg)}
  }
  
  @keyframes giro-hora {
    0% {}
    100% {transform: rotate(270deg)}
  }
  