

.caja {
    height: 600px;
    width: 600px;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;

    
    
}
.fondoreloj {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;

    height: 100%;
    width: 100%;
    border: 2px solid brown;
   

}

.reloj {
    height: 65%;
    width: 65%;
    position: absolute;
    top: 17%;
    left: 50%;
    border: 2px solid black;
    transform: translateX( -50%);
    display: inline-block;

}

.punto {
    position: absolute;
    top:50%;
    left: 50%;
    background-color: black;
    border-radius: 100%;
    height: 5%;
    width: 5%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    display: inline-block;


}

.minuto {
    background-color: black;
    border-radius: 40%;
    width: 25%;
    height: 2%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    transform: translate(0,-50%);
    transform: rotate(-90deg);
    transform-origin: left;
    animation: giro-minutos 3600s
}